# MAC OSX files
.DS_Store

# site-parameters.ily is created the first time new-from-template is run.
# It should be modified to suit local values, and should not be committed.
/site-parameters.ily

# Lilypond build output
output/

# When upgrading Lilypond, I like to keep output from the prior version
# around, for comparison with newly generated output.
# This prevents it from accidentally being committed.
OLD-output/

# Frescobaldi builds into the same directory as the source .ly file,
# so we ignore build outputs found there, too.
**/book/*.pdf
**/book/*.midi

# Make creates somes files that should be ignored.
deps.mk
referenced-includes.txt

# Archives
*.tgz
*.tar

