# .gitignore for scores project

# site-parameters.ily is created the first time new-from-template is run.
# It should be modified to suit local values, and should not be committed.
/site-parameters.ily

# Lilypond build output
output/

# Frescobaldi builds into the same directory as the source .ly file,
# so we ignore build outputs found there, too.
**/book/*.pdf
**/book/*.ps
**/book/*.midi
**/book/*.mid

# Make creates somes files that should be ignored
deps.mk
referenced-includes.txt

# Don't save the output from bin/list-all-includerefs.sh
/include-references.csv

# Other files to be skipped
.DS_Store
*~
*.swp
*.tgz
*.tar
*.log
